/* Capstone Masterwork THEME LIGHT */
/* ------------------------------------------------------------------- */
/* <!-- GLOBAL ###############################################> */
body {
    padding: 0;
    margin: 0;
}

body,
button,
input,
select,
optgroup,
textarea {
    text-align: left;
    /* color: #404040; */
    color: #5A5A5A;
    background-color: #fff;

    font-size: 1rem;
    /* font-size default = 16px */
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

/* <!-- EDIT BUTTON ############################################> */
.button__edit {
    background-color: white;
    border-color: #dc4f72;
    color: #dc4f72;

    font-size: 0.875rem;
    font-weight: 700;
    line-height: 52px;
    margin: 0px;
    padding: 0px 30px;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.5s;
}

.button__edit:hover {
    color: white;
    background-color: #dc4f72;
}

.button__theme {
    background-color: #dc4f72;
    border:solid #dc4f72;
    color: white;

    width: 30%;
    text-align: center;
    border-radius: 6px;
    outline: none;

    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
}

button:focus{
    outline: none;
}

/* <!-- EDIT TITLE H6 ############################################> */
.title__h6 {
    color: #dc4f72;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;

    line-height: 20px;
    margin-bottom: 5px;
}

/* <!-- EDIT TITLE H3 ############################################> */
.title__h3 {
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 1;
}

/* ------------------------------------------------------------------- */
/* <!-- HEADER NAV BAR --> */
header {
    background-color: white;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    display: grid;
    align-items: center;

    transition: all 0.4s ease 0s;
}

#navbarTogglerCollapse .header__dropdown {
    text-align: center;
}

.header__logo {
    color: #dc4f72 !important;
    /* Important */
    font-size: 1.625rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.header__item {
    position: relative;
}

.header__item::after {
    content: "";
    background-color: #dc4f72;
    width: 0;
    height: 3px;

    position: absolute;
    bottom: 0px;
    left: 8px;
    transition: all 0.5s;
}

.header__item:hover::after {
    width: 40%;
}

.header__item:hover a {
    color: #dc4f72 !important;
    /* Important */
}

.header__search i {
    background-color: #f9fbfd;
    color: #8b8b8b;
    font-size: 0.9375rem;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #eee;
}

.header__button:hover button {
    color: white !important;
    /* Important */
    background-color: #dc4f72 !important;
    /* Important */
}

/* <!-- OVERLAY of BUTTON Search #######--> */
.header__overlay {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    display: none;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.header__overlaycontent {
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;

    position: relative;
}

.header__overlay .header__closebtn {
    color: white;
    font-size: 3.75rem;
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 45px;
}

.header__overlay .header__closebtn:hover {
    color: #ccc;
}

.header__overlay input[type=text] {
    background-color: white;
    color: black;

    border: 1px solid var(--border-color);
    border-radius: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;

    float: left;
    width: 80%;
    line-height: 25px;
    height: 55px;
    padding: 15px 20px 12px;
    outline: none;
    transition: all 0.5s;
}

.header__overlay input[type=text]:hover {
    background: #f1f1f1;
}

.header__overlay button {
    background-color: #dc4f72;
    color: white;

    border: none;
    border-left: none;
    border-radius: initial;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0 25px;

    float: left;
    width: 20%;
    text-align: center;
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 28px;
    height: 55px;

    outline: none;
    transition: all 0.5s;
}

.header__overlay button:hover {
    opacity: 0.8;
}

/* EDIT BOOTSTRAP: navbar-toggler ###################################*/
.navbar-light .navbar-toggler-icon {
    background-image: none;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.navbar-light .navbar-toggler {
    border-color: #dc4f72;
    background-color: #dc4f72;
}

/* <!--  BUTTON Light + Dark #################--> */
.header__lightbtn i {
    font-size: 1.5rem;
    margin-top: 15px;
}

/* <!-- INFO - ABOUT OUR COMPANY --> */
/* <!-- 4/ Hữu Trí ----------------------------------------------------> */
.info {
    background-color: #f7f9fc;
}

.info h3 {
    font-size: 2.1875rem;
    font-weight: 700;
    line-height: 40px;
}


.info__counting {
    background-color: white;
    padding: 2rem;
}

.info__counting .counter__number {
    color: #dc4f72;
    font-size: 3.125rem;
    line-height: 1;
    font-weight: 700;

    margin-bottom: 15px;
    margin-top: 10px;
}

/* <!-- PROJECT - COMPLETED PROJECT --> */
/* <!-- 7/ Hữu Trí ----------------------------------------------------> */
.project h3 {
    font-size: 2.875rem;
    font-weight: 700;

    line-height: 1;
}

.project__content li {
    font-size: 1.375rem;
    font-weight: 700;
    text-align: center;
    width: 30%;
}

.project__content li a {
    color: #4E5B61;
}

/* EDIT BOOTSTRAP: nav-pills ###########################*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #dc4f72;
    background-color: white;

    border-radius: 0;
    border-bottom: solid 3px #dc4f72;
}

.project__tab{
    border-bottom: solid 3px rgb(193, 193, 193);;
}

.project__item h3 {
    font-size: 1.875rem;
    line-height: 36px;
    font-weight: 700;

    margin-bottom: 16px;
}

.project__item p {
    color: #5a5a5a;
    line-height: 24.5px;

    margin-bottom: 16px;
}

/* <!-- FOOTER --> */
/* <!-- 10/ Hữu Trí ----------------------------------------------------> */
footer {
    color: #2c3038;
    background-color: #f7f9fc;
}

footer li {
    display: block;
    list-style: none;
    margin: 10px 0;
}

footer a {
    color: #2c3038;
}

footer a:hover {
    color: #dc4f72;
    text-decoration: none;
}

footer h4 {
    color: #2c3038;
    font-size: 1.25rem;
    font-weight: 700;

    line-height: 25px;
    margin-bottom: 30px;
}

footer h5 {
    color: #2c3038;
    font-size: 1.125rem;
    font-weight: 500;

    line-height: 25px;
    margin-bottom: 30px;
}

.footer__news {
    background-color: #fff;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    padding: 2em;
    border-radius: 6px;
}

.footer__news p{
    margin-top: 10px;
}

.footer__news input {
    color: #2c3038;
    background-color: #f7f9fc;
    border: none;
    border-radius: 6px;
    outline: none;

    font-weight: 600;
    padding: 12px 20px;
}

.footer__bottom {
    border-top: 1px solid #eee;
}

.footer__bottom li {
    display: inline-block;
    margin-right: 5px;
}

.footer__bottom li i {
    color: #2c3038;
    width: 36px;
}

.footer__bottom li i:hover {
    color: #dc4f72;
}

.footer__social {
    text-align: center;
}

/* ------------------------- */
/* <!-- BACK TO TOP --> */
.backToTop {
    background: #e4819b;
    color: white;
    display: block;
    width: 50px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    visibility: hidden;

    position: fixed;
    z-index: 99;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all .3s;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 0.7;
}

.btnBackToTop a:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
}

/* REPONSIVE  */
@media only screen and (max-width: 992px) {
    .info__counting {
        margin: 1rem;
    }
}

@media only screen and (max-width: 992px) {
    .header__lightbtn {
        position: absolute;
        right: 80px;
        top: 8px;
    }
}

/* <!-- HEADER BANNER --> */
/* <!-- 2/ Lê Định -------------------------------------------------> */
#banner .banner_content{
    background-image: url(../img/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 5rem 2rem; 
}
#banner{
    position: relative;
}
.banner_img{
    z-index: 3;
}
.banner_text{
    z-index: 3;
    align-items: center;
}
.banner_text h1{
    font-size: 3.5rem;
    padding: 2rem 0;
}
.banner_text p{
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.banner_text button{
    padding: 20px 40px;
    font-weight: bold;
}
#banner .overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffffff2;
}
.stat_content{
    display:flex;
    justify-content: space-around;
}
.stat_content .card{
   margin: 1rem; 
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   transition: 0.3s;
}
.stat_content .card .card-number{
    font-size: 3rem;
    color:#dc4f72;
    font-weight: bold;
}
.stat_content .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
    /* border: none; */
}

.case_img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
} 

/* <!-- COVER --> */
/* <!-- 5/ Lê Định -------------------------------------------------> */
#cover{
    background-image: url(../img/bg.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
#cover .cover button{
    padding: 10px 30px;
}
#cover .overlay{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #00000099;
}
#cover .cover .cover_text{
    position: relative;
    z-index: 3;
    padding: 7rem 0;
}

/* <!-- OUR CLIENTS TESTIMONIALS --> */
/* <!-- 8/ Lê Định -------------------------------------------------> */
#testimonials .testimonials_content .testi_text .title{
    color:#dc4f72;
    font-weight: bold;
}

#testimonials {
    background-image: url(../img/b2.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
    position:relative;
    
}
#testimonials .overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffab;
    z-index: -1;
}
.testi_content{
    position: relative;
    z-index: 10;
}
#testimonials .carousel-inner .card-img-top img{
    height: 300px;
    width: 300px;

}
.item_img img{
    height: 100px;
    width: 100px;
    border: 2px solid #dc4f72;
    border-radius: 50%;
}
.carousel-inner .carousel-item .item-container {
    display: flex;
    padding: 10px;
    gap: 30px;
}
.carousel-inner .carousel-item .item1{
    background-color: white;
    height: 300px;
}
.carousel-inner .carousel-item .item1{
    display: flex;
    padding: 10px;
    gap: 30px;
}
.item_img {
    flex-shrink: 0;
}
.item_message {
    flex-grow: 1;
}
.item_message span{
    color: rgb(194, 194, 194);
    font-size: 50px;
}

.name_item h4{
    color: #dc4f72;
}
.indicator ul li{
    background-color: #dc4f72;
    padding: 1px;
}
.indicator ul li:not(.active):hover{
    background-color: #dc4f72;
}

/* <!-- WHY CHOOSE US --> */
/* <!-- 3/ Thiên Thanh ---------------------------------------------> */
.whychoose {
    color: black;
}

.whychoose__block {
    padding: 3rem;
    background-color: #f7f9fc;
}

.whychoose__block a {
    color: black;
    text-decoration: none;
}

.whychoose__block a h3 {
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.whychoose__block a p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

.whychoose__animate:hover {
    animation: downToUp 1s;
}

@keyframes downToUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-30px);
    }
}

/* <!-- QUESTIONS AND ANSWERS --> */
/* <!-- 6/ Thiên Thanh ---------------------------------------------> */
.faq {
    color: black;
    background-color: #f7f9fc;
}


.faq__block {
    margin-top: 20px;
}

.faq h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;

    width: 90%;
    display: block;

    cursor: pointer;

    padding: 20px 0 20px 20px;
    margin: 20px 0;
    background-color: white;
}

.faq__item {
    position: relative;
}

.faq__icon {
    position: absolute;
    top: 17px;
    right: 100px;
}

/* Edit Bootstrap: card */
.faq .card {
    border: none;
}

.faq .card-body {
    margin-top: -30px;
    width: 90%;
}

/* <!-- READY TO BUILD --> */
/* <!-- 9/ Thiên Thanh ---------------------------------------------> */
.community__block {
    color: black;
}

.btn__community__2 {
    background-color: #dc4f72;
    color: white;
}

.btn__outline {
    color: #dc4f72;
    background-color: white;
    border-color: #dc4f72;
}

.btn__outline:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

/* Edit Bootstrap: btn */
.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}


